 @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Noto+Serif+Makasar&family=Roboto:ital,wght@0,400;0,700;1,500;1,700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
    color:white;
 }
 section{
    min-height: 100vh;
    background-image: url("../img/coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 .container{
    align-items: center;
    width: 85%;
    margin: auto;
   
 }
 nav{
    height: 80px;
 }
 nav h1{
    font-family: 'Fasthand', cursive;
    float: left;
    line-height: 80px;
    font-size: 50px;
    font-size:inline;
   
 }
 nav ul{
    font-family: 'Noto Serif Makasar', serif;
   font-size: larger;
    float: right;
    line-height: 80px;
 }
 nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
 }
.article h1{
    font-size: 35px;
    font-family:'Fasthand', cursive ;
    float: inline-start;
}
.article p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    float: inline-start;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}
nav ul li a:hover{
    background-color:#eb7620 ;
    transition: 0.5s ease;
}
nav ul li .active{
     background-color:#eb7620 ;
}
.carousel{
    
    background:#4f4b49;
}

.carousel-item {

  height: 300px;
 
}
.card{
    position: relative;
    align-items: center;
    float:left;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    
   
}
.card p{
    
    color: black;
}
.card a{
    padding: 4px;
  position:inherit;
  border-radius:0.8em;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
/* Add rounded corners to the top left and the top right corner of the image */


.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.footer{

    background-color:#9d7254;
    margin:0px auto;
    padding:20px 0px 20px 0px;
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.bg-active{
    visibility:visible;
    opacity: 1;
}
.modal-header{
    background-color:#512DA8;
    color: white;
    
}
.modal-body{
    background-color: rgb(219, 202, 246);

}
.j p{
    background-color: white;
}